<!doctype html>
<title> {% block title %}{% endblock %}Rate My Deal</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<section>
    <h1 class="title">Rate My Deal</h1>
</section>
<section id="options" class="centre">
    <h2>What did you have today?</h2>
    <form method="post">
        <section class="select-boxes">
            <label for="main">Main:</label>
            <select name="main" id="main">
                {% for main in mains %}
                    <option value="{{main}}">{{main}}</option>
                {% endfor %}
            </select>
            
            <label for="snack">Snack:</label>
            <select name="snack" id="snack">
                {% for snack in snacks %}
                    <option value="{{snack}}">{{snack}}</option>
                {% endfor %}
            </select>
        
            <label for="drink">Drink:</label>
            <select name="drink" id="drink">
                {% for drink in drinks %}
                    <option value="{{drink}}">{{drink}}</option>
                {% endfor %}
            </select>
        </section>
        <section>
            <input class="submit" type="submit" name="submit_deal" value="Submit">
        </section>
    </form>
</section>

<section class="centre">
    <a class="to-posts" href="{{url_for('posts_page')}}">See other people's deals</a>
</section>