<!doctype html>
<title> {% block title %}{% endblock %}Rate My Deal</title>
<section>
    <h1>Rate My Deal</h1>
</section>
<section>
    <select name="mains" id="mains">
        {% for option in mains %}
            <option value="{{option}}">{{option}}</option>
        {% endfor %}
    </select>

    <select name="snacks" id="snacks">
        {% for option in snacks %}
            <option value="{{option}}">{{option}}</option>
        {% endfor %}
    </select>

    <select name="drinks" id="drinks">
        {% for option in drinks %}
            <option value="{{option}}">{{option}}</option>
        {% endfor %}
    </select>
</section>