<!doctype html>
<title> {% block title %}{% endblock %}Rate My Deal</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<section>
    <h1 class="title">Rate My Deal</h1>
</section>
<section id="options" class="centre">
    <section class="select-boxes">
        <select name="mains" id="mains">
            {% for option in mains %}
                <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
    
        <select name="snacks" id="snacks">
            {% for option in snacks %}
                <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
    
        <select name="drinks" id="drinks">
            {% for option in drinks %}
                <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
    </section>


    <section>
        <input class="submit" type="submit" name="submit_deal" value="Submit">
    </section>
</section>

<section class="centre">
    <a class="to-posts" href="{{url_for('posts_page')}}">See other people's deals</a>
</section>