<!doctype html>
<title> {% block title %}{% endblock %}Rate My Deal</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<section>
    <h1 class="title">Rate Deals</h1>
</section>
<section id="#options" class=".center">
    {% for post in posts %}
        <article>
            <p>User: {{ post.submitter }}</p>
            <p>Main: {{ post.main }}</p>
            <p>Snack: {{ post.snack }}</p>
            <p>Drink: {{ post.drink }}</p>
        </article>
    {% endfor %}
</section>