<!doctype html>
<title> {% block title %}{% endblock %}Rate My Deal</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<section>
    <h1 class="title">Rate Deals</h1>
</section>
<section>
    {% for post in posts %}
        <article id="deal" class="centre">
            <p><b>Submission by </b>{{ post.submitted_by }}</p>
            <p><b>Main:</b> {{ post.main }}</p>
            <p><b>Snack:</b> {{ post.snack }}</p>
            <p><b>Drink:</b> {{ post.drink }}</p>
        </article>
    {% endfor %}
</section>
<section class="centre">
    <a class="to-page" href="{{url_for('index_page')}}">Home page</a>
</section>